.container {
    padding: 20px;
    // height: 20rem;
    width: 15rem;
    padding: 1rem;
    background-color: black;
    border-radius: 8px;
    background: linear-gradient(65.58deg, rgba(0, 66, 255, 0.5) -11.84%, rgba(235, 0, 27, 0.5) 98.75%);
    box-shadow:inset 0px 0px 0px 3px rgba(255, 255, 255, 0.2);
    position: relative;
    animation: showContainer 1s;
    animation-fill-mode: both;
    margin-top: 5rem;
}

.containerCreatePlayer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;

    img {
        width: 250px;
    }
}

.containerInput {
  display: flex;
  flex-direction: column;
  justify-content: left;

}

.inputCreate{
	width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: rgba(172, 172, 172, 0.623);
  border-radius: 4px;
  box-sizing: border-box;
  &::placeholder {
    font-weight: bold;
    opacity: .5;
    color: rgb(255, 255, 255);
  }
}


.labelInput {
  align-self: flex-start;
  font-weight: 500;
}

.buttonCreate {
  background-color: rgba(0, 66, 255, 0.5); /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  border-radius: 8px;
  cursor: pointer;

  &:hover{
    background-color: rgba(235, 0, 27, 0.5);
    color: white;
  }
}


@keyframes showContainer {
    from {
      opacity: 0;
      transform: translateY(2rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
@media (min-width: 900px) {
.container {
        height: 25rem;
        width: 45rem;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }
}