.container {

  margin-top: 2rem;
  margin-bottom: 1rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;

  grid-row-gap: 1rem;

  width: 100%;

  padding: 0 1rem 0 1rem;

  box-sizing: border-box;
}

.filterPanel {
  grid-row: 2 / 5;
  grid-column: 1 / 2;
}

@media (min-width: 900px) {
  .container {
    grid-template-columns: 25% 75%;
  }
}

@media (min-width: 1100px) {
  .container {
    grid-template-columns: 40% 60%;
  }
}

@media (min-width: 1300px) {
  .container {
    grid-template-columns: 55% 45%;
  }
}

@media (min-width: 1500px) {
  .container {
    grid-template-columns: 70% 30%;
  }
}