.container {
  display: grid;
  grid-template-rows: auto auto 2rem auto auto;
  grid-template-columns: 1fr;
  grid-gap: 1rem;

  width: var(--modalPassword);
  padding: 1rem;
  border-radius: 8px;
  background: var(--primaryGradientWithLessOpacity);
  box-shadow: var(--borderInside);
  animation: showContainer 1s;
  animation-fill-mode: both;
  margin-top: 5rem;

  position: relative;
}

.title {
  color: white;
  margin-top: 0px;
}

.labelInput {
  justify-self: flex-start;
  font-weight: 500;
  color: rgb(133, 133, 133);
  font-size: var(--fontMedium);
}

.danger {
  color: crimson;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: var(--fontSmall);
  align-self: center;
}

.inputEmail {
  width: 100%;
  padding: 12px 20px;
  margin-top: 5px;
  font-weight: bold;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: rgba(172, 172, 172, 0.623);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: var(--fontMedium);
  letter-spacing: 1px;

  grid-row: 4 / 5;
}

.inputEmail:focus {
  outline: none;
}

.inputEmail::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: rgb(255, 255, 255);
}

.btnDetails {
  width: 100%;
  padding: 0.5rem;
  grid-row: 5 / 6;
  justify-self: center;
  background: transparent;
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  font-size: var(--fontMedium);
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 1rem;
}

.btnDetails:hover {
  box-shadow: var(--glowOutside);
}

@keyframes showContainer {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.wobble {
  animation-name: shake;
  animation-duration: 300ms;
  animation-fill-mode: both;
}

@keyframes shake {
  0% {
    transform: translate(10px, 0);
  }
  20% {
    transform: translate(-10px, 0);
  }
  40% {
    transform: translate(0, 0);
  }
  60% {
    transform: translate(10px, 0);
  }
  80% {
    transform: translate(-10px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.closeCardContainer {
  position: absolute;
  right: 1rem;
  top: -0.5rem;
}

.closeCard {
  color: white;
  cursor: pointer;
}

.closeCard:hover {
  text-shadow: 1px 1px 2px pink;
}

.svgContainer {
  height: 7rem;
  aspect-ratio: 1 / 1;

  align-self: center;
  justify-self: center;

  grid-row: 3 / 5;
}

.svgContainer > svg {
  fill: rgba(255, 255, 255, 0.5);
}