.containerLink {
  display: grid;
  grid-template-rows: 2rem;
  grid-template-columns: 2rem 1fr;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  grid-gap: 1rem;
  cursor: pointer;
}

.label {
  justify-self: flex-start;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  letter-spacing: 4px;
  font-weight: 600;

  text-transform: capitalize;

  transition: 0.5s;
}

.containerLink:hover > svg > .styleSVG {
  fill: crimson;
}

.containerLink:hover > .label {
  color: crimson;
}

.styleSVG {
  transition: 0.5s;
}