.container {
  width: 12rem;
  height: 12rem;

  padding: 1rem;
  box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 0.2);
  background-color: var(--primaryColor);

  border-radius: 8px;

  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-columns: 1fr;
}

.loadingContainer {
  height: 80%;
  aspect-ratio: 1 / 1;

  align-self: center;
  justify-self: center;
}

.spanMessage {
  color: white;
  opacity: 0.7;
  font-size: var(--fontSubTitle);
  font-weight: 700;
  letter-spacing: 3px;

  align-self: center;
  justify-self: center;
}

.loadingContainer > svg {
  animation: rotateLoading 2s infinite;
  animation-timing-function: linear;
  fill: var(--secondaryColor);
}

@keyframes rotateLoading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}