.container {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr;
  grid-gap: 1rem;

  width: var(--modalPassword);
  padding: 1rem;
  border-radius: 8px;
  background: var(--primaryGradientWithLessOpacity);
  box-shadow: var(--borderInside);
  animation: showContainer 1s;
  animation-fill-mode: both;
  margin-top: 5rem;

  position: relative;
}

.closeCardContainer {
  position: absolute;
  right: 1rem;
  top: -0.5rem;
}

.closeCard {
  color: white;
  cursor: pointer;
}

.closeCard:hover {
  text-shadow: 1px 1px 2px pink;
}

.btnDetails {
  width: 100%;
  padding: 0.5rem;
  justify-self: center;
  background: transparent;
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  font-size: var(--fontMedium);
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 1rem;
}

.btnDetails:hover {
  box-shadow: var(--glowOutside);
}

.containerCheck {
  display: grid;
  grid-template-columns: auto auto;
  justify-self: flex-end;
  grid-row-gap: 1rem;
}

.labelInputCheck {
  color: rgba(255, 255, 255, 0.5);
  font-size: var(--fontSmall);
  letter-spacing: 1px;
  font-weight: 600;
}
