.inputPassword {
  width: 100%;
  padding: 12px 20px;
  margin-top: 5px;
  font-weight: bold;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: rgba(172, 172, 172, 0.623);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: var(--fontMedium);
  letter-spacing: 1px;
}

.inputPassword:focus {
  outline: none;
}

.inputPassword::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: rgb(255, 255, 255);
}

.divLabelInput {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 500;
  color: rgb(133, 133, 133);
  font-size: var(--fontMedium);
}

.danger {
  color: crimson;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: var(--fontSmall);
  align-self: center;
}

.wobble {
  animation-name: shake;
  animation-duration: 300ms;
  animation-fill-mode: both;
}

@keyframes shake {
  0% {
    transform: translate(10px, 0);
  }
  20% {
    transform: translate(-10px, 0);
  }
  40% {
    transform: translate(0, 0);
  }
  60% {
    transform: translate(10px, 0);
  }
  80% {
    transform: translate(-10px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}