.container {
  height: 3rem;
  aspect-ratio: 1 / 1;

  display: flex;
  justify-content: center;
  align-items: center;

  --triangleBorder: 0.5rem;
  background: var(--primaryColorLight);

  border-radius: 8px;

  cursor: pointer;

  box-sizing: border-box;

  transition: 0.5s;

  box-shadow: var(--borderInside);
}

.triangle {
  width: 0;
  height: 0;
  border-top: var(--triangleBorder) solid transparent;
  border-right: var(--triangleBorder) solid white;
  border-bottom: var(--triangleBorder) solid transparent;

  border-right-color: rgba(255, 255, 255, 0.7);
  transition: 0.5s;
}

.reverse {
  transform: rotate(-180deg);
}

.container:hover {
  box-shadow: var(--glowOutside);
}

.container:hover > .triangle {
  border-right-color: rgba(255, 255, 255, 1);
}

.container[disabled],
.container[disabled]:hover {
  background: transparent;
  cursor: default;
}

.container[disabled]:hover {
  box-shadow: var(--borderInside);
}

.container[disabled] > .triangle,
.container[disabled]:hover > .triangle {
  border-right-color: rgba(149, 151, 153, 0.5);
}